<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsiro.dogvip">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <!--<activity-->
            <!--android:name="com.facebook.CustomTabActivity"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="@string/fb_login_protocol_scheme" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mypets.ownerprofile.OwnerProfileActivity"
            android:theme="@style/UserProfileAppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>

        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DashboardActivityTheme"
            android:label="@string/app_name" />

        <activity
            android:name=".mypets.MyPetsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>

        <activity
            android:name=".mypets.pet.PetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mypets.ownerprofile.OwnerProfileActivity" />
        </activity>

        <activity
            android:name=".lovematch.LoveMatchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".uploadimagecontrol.ImageUploadControlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/app_name"/>

        <activity
            android:name=".petprofile.PetProfileActivity"
            android:theme="@style/UserProfileAppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".lovematch.LoveMatchActivity" />
        </activity>

        <activity
            android:name=".ImageViewPagerActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>

        <activity
            android:name=".petlikes.PetLikesActivity"
            android:theme="@style/UserProfileAppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mypets.ownerprofile.OwnerProfileActivity" />
        </activity>

        <activity
            android:name=".ownerpets.OwnerPetsActivity"
            android:theme="@style/UserProfileAppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        
        <service
            android:name=".accountmngr.AuthenticatorService"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />

        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        
    </application>

</manifest>